<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="KRCE Automation Suite">

    <listeners>
        <listener class-name="com.krce.listeners.TestListener"/>
    </listeners>

    <test name="All Tests">

        <classes>
            <class name="com.krce.tests.FormInteractionTest"/>
            <class name="com.krce.tests.TableTest"/>
            <class name="com.krce.tests.JSAlertTest"/>
            <class name="com.krce.tests.DynamicElementsTest"/>
            <class name="com.krce.tests.FramesTest"/>

        </classes>

    </test>

</suite>